# Development files
src/
test/
tsconfig.json
.github/
.gitignore
.npmignore
.env
*.log

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo

# Build and Coverage
coverage/
.nyc_output/
*.tsbuildinfo

# Dependency directories
node_modules/

# Misc
.DS_Store
Thumbs.db